<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Lukas Descoins | Lunie.fr">
		<meta name="description" content="Extension pour customiser l'affichage d'un nouvel onglet">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<link rel="stylesheet" href="../assets/styles/styles.css" type="text/css">
		<link rel="icon" href="../assets/images/icons/favicon.ico">
		<title>Nouvel onglet </title> 
	</head>
	<body class="container">
		<img src="../assets/images/dots.png" alt="settings button" class="settings">
		<header>
			<div class="hours"></div>
			<hr>
			<div class="weather"></div>
		</header>
		<main>
			<ul id="shortcuts">
				<li class="netflix">
					<a href="https://www.netflix.com/browse" title="Netflix">
						<img src="../assets/images/logos/png/035-netflix.png" alt="">
					</a>
				</li>
				<li class="canal">
					<a href="https://www.canalplus.com/" title="canal">
						<img src="../assets/images/logos/png/069-mycanal.png" alt="">
					</a>
				</li>
				<li class="youtube">
					<a href="https://www.youtube.com" title="Youtube">
						<img src="../assets/images/logos/png/064-youtube.png" alt="">
					</a>
				</li>
				<li class="twitch">
					<a href="https://www.twitch.tv" title="Twitch">
						<img src="../assets/images/logos/png/067-twitch.png" alt="">
					</a>
				</li>
				<li class="instagram">
					<a href="https://www.instagram.com" title="Instagram">
						<img src="../assets/images/logos/png/070-instagram.png" alt="">
					</a>
				</li>
				<li class="twitter">
					<a href="https://twitter.com" title="Twitter">
						<img src="../assets/images/logos/png/062-twitter.png" alt="">

					</a>
				</li>
				<li class="messenger">
					<a href="https://www.messenger.com" title="Messenger">
						<img src="../assets/images/logos/png/065-messenger.png" alt="">
					</a>
				</li>
				<li class="gmail">
					<a href="https://mail.google.com/mail/u/0/" title="Gmail">
						<img src="../assets/images/logos/png/063-gmail.png" alt="">
					</a>
				</li>
				<div class="bigBlock">
					<li class="prime">
						<a href="https://www.primevideo.com" title="AmazonePrimveVideo">
							<img src="../assets/images/logos/png/068-prime-video.png" alt="">
						</a>
					</li>
					<li class="disney">
						<a href="https://www.disneyplus.com" title="Disney">
							<img src="../assets/images/logos/png/066-disney.png" alt="">
						</a>
					</li>
				</div>
			</ul>
		</main>
		<script src="../assets/js/app.js"></script>
	</body>

	<!-- API key WorkDir  api_key=a2a73e7b926c924fad7001ca3111acd55af2ffabf50eb4ae5 -->